.container{
  max-width: 600px;
  position: relative;
}
 
  .btn{
    background: #43d9be;
    color: white;
    outline: none !important;
    box-shadow: none !important;
  }
  .btn:focus{
    outline: none !important;
  }
  .cy{
    position: absolute;
    top: 50%;
  }

  
  body{
    background-image: url('Background-website-01.jpg');
  } 
>>>>>>> 063628c276c937cbfd1410099f2470158e4b09a4
